.registerPage {
   background-color: #222222;
   font-family: "Press Start 2P", cursive;
   color: #fff;
   font-size: 10px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.registerContainer {
   width: 500px;
   background-color: #fff;
   color: #222222;
   margin: auto;
   padding: 32px;
 }
 
 .lquestForm {
   display: flex;
   flex-direction: column;
   padding: 16px;
 }
 
 .lquestForm > input {
   margin-top: 20px;
   padding: 8px;
 }
 
 .lquestForm > button {
   margin: 20px 0 20px 0;
   padding: 8px;
 }