.loginPage {
  padding-top: 150px;
  background-color: #222222;
  font-family: "Press Start 2P", cursive;
  color: #fff;
  font-size: 10px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginContainer {
  width: 500px;
  background-color: #fff;
  color: #222222;
  margin: auto;
  padding: 32px;
  z-index: 100;
}

#mute{
  position: relative;
  left: 300px;
  top: 10px;
  width: 40px;
  background-color: #B71B1C;
  border-radius: 100%;
  padding: 10px;
}

#unmute{
  position: relative;
  left: 300px;
  top: 10px;
  width: 40px;
  background-color: #B71B1C;
  border-radius: 100%;
  padding: 10px;
}

.lquestForm {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.lquestForm > input {
  margin-top: 20px;
  padding: 8px;
}

.lquestForm > button {
  margin: 20px 0 20px 0;
  padding: 8px;
}

.logo {
  margin-bottom: 30px;
}

#guy {
  width: 150px;
  filter: drop-shadow(-1px 1px 2px rgb(0, 0, 0));
}
.intro {
  position: relative;
  right: 400px;
  bottom: 400px;
  color: rgb(168, 127, 127);
}

#lambdaguy {
  position: relative;
  
  right: 20px;
}

#pete-name {
  position: relative;
  left: 20px;
  bottom: -15px;
}

#pete {
  width: 60px;
  animation-name: jump;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  top: 74px;
  right: 50px;
  filter: drop-shadow(-2px 5px 10px rgb(0, 0, 0));
}

#pete {
  animation-name: bounce-5;
  animation-timing-function: ease;
}
@keyframes bounce-5 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1, 0.8) translateY(0);
  }
  30% {
    transform: scale(0.8, 1) translateY(-100px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-5px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


