.gamebanner{
  border: black 2px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.logo{
  width: 70px;
}

.lquestTitle{
  font-size: 4rem;
}

/* SIDE MENU */

.whoIsHere{
  border: black 2px solid;
  width: 200px;
  height: 300px;
  word-wrap: break-word;
}